@import './abstracts/abstracts-dir';

@import './base/base-dir';

@import './components/component-dir';

@import './layout/layout-dir';

@import './pages/page-dir';

@import './vendors/vendors';

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}