#header {
  .nav-top {
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $back-light-color;

      &__item {
        float: left;

        &:hover {
          background-color: $back-color;
        }
      }

      &__link {
        display: block;
        color: $white-color;
        text-align: center;
        padding: 14px 30px;
      }
    }
  }
}

.main-container {
  padding: 30px;
}

/*
  .block__element--modifier > .post__btn--disabled
  .block--modifier > .post--important
*/