.login-form {
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;

  &__input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  &__button {
    margin-top: 50px;
  }
}